/*
developer: Alexander Bukreev, 2018
e-mail: alexander.v.bukreev@gmail.com
*/
@import url(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp; subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size:16px;
}
body {
	font-family: 'Roboto', sans-serif;
	line-height:1.846;
	color:#757575;
	background-color:#ffffff;
	padding-top: 53px;
	margin:0;
	letter-spacing: 0.06em;
	font-weight: 300;
}
p {
	letter-spacing: 0.04em;
}
input {
	border-style:solid;
    border-width:1px;
	border-color: #bdbdbd;
	height: 14px;
}
a:active, a:hover {
	outline:0;
} 
.flex-wrap {
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }
.justify-content {
	justify-content: space-between; /* адаптиролвать под старые браузеры */
}
.justify-content_right {
	justify-content: flex-end; /* адаптиролвать под старые браузеры */
}
.flex-wrap-wrap {
	flex-wrap: wrap; /* адаптиролвать под старые браузеры */
}
.flex-align-items-baseline {
	align-items: baseline;  /* адаптиролвать под старые браузеры */
}
h1 {
	font-size: 3.2em;
	letter-spacing: 0.06em;
}
h1 a:hover {
	text-decoration: none;
}
h2 {
	font-size: 2.8em;
	letter-spacing: 0.06em;
}
h3 {
	font-size: 2em;
	letter-spacing: 0.06em;
}
h4 {
	font-size: 1.5em;
	letter-spacing: 0.1em;
}
h5 {
	font-size: 1.2em;
}
h5 a:hover {
	text-decoration: none;
}
a:link,
a:active,
a:visited {
	color: #03a9f4;
	text-decoration: none;
}
a:hover {
	color: #0288d1;
  	text-decoration: underline;
}
hr {
    color: #e0e0e0; /*для IE */
    background-color:#e0e0e0; /*для Firefox, Opera, Safari*/
    border:0px none;
    height:1px; /* высота 1px IE, Firefox, Opera, Safari */
    clear:both; /* для очистки, если тег идет после float елемента */
    margin: 0;
}
.small {
	font-size: 0.8em;
}
.text-justify {
  text-align: justify;
}
.valunovTitle {
	font-family: 'Lobster', cursive;
}
.fw-bolder {
	font-weight: 700;
}
.fw-bold {
	font-weight: 500;
}
.fw-light {
	font-weight: 300;
}
.fc_dark {
	color: #666666;
}
.fc-gray {
	color: #757575;
}
.fc-ultra-gray {
	color: #bdbdbd;
}
.fc-withe {
	color:#ffffff;
}
.text-lowercase {
	text-transform: lowercase;
}
a:link .fc_dark,
a:active .fc_dark,
a:visited .fc_dark {
	color: #666666;
	text-decoration: none;
}
a:hover .fc_dark {
	color: #000;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight:400;
	line-height:1.1;
	color:#444444
}
.lead {
  margin-bottom: 20px;
  font-size: 1.3em;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #000;
}
.visible-block {
	display: block !important;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1070px;
}
.text-center {
  text-align: center;
}
.col_mrg-right {
	margin-right: 3vw;
}
.col_mrg-0 {
	margin: 0;
}
.col_mrg-left {
	margin-left: 3vw;
}
.col_mrg-top {
	margin-top: -7px;
}
.col_width-001 {
	width: 33.3%;
}
.col_width-011 {
	width: 66.6%;
}
.thumbnail {
	background-color: #fff;
	padding: 5px;
	margin-bottom: 25px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.main-title {
	margin-bottom: 12px;
	align-items: baseline; /* адаптиролвать под старые браузеры */
}
.main-title_h {
	font-size: 2.0em;
	padding-right: 1em;
	margin: 0 0 10px 0;
}
.radio-inline,
.checkbox-inline {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
.small__icon {
	font-size: 15px;
	cursor: pointer;
	color: #bdbdbd;
}
.small__icon:hover {
	color: #757575;
}
@media (max-width: 1099px) {
	.container {
		width: 1000px;
	}
}
@media (max-width: 1029px) {
	.container {
		width: 920px;
	}
}
@media (max-width: 949px) {
	.container {
		width: 770px;
	}
}
@media (max-width: 799px) {
	.container {
		width: auto;
		padding-right: 10px;
  		padding-left: 10px;
	}
}
