/* -----------------------------------
/*
/* font format from the Glyphicon Halflings set
/*
/* ----------------------------------- */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../wa-data/public/site/valunov/fonts/glyphicons-halflings-regular.eot');
  src: url('../wa-data/public/site/valunov/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../wa-data/public/site/valunov/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../wa-data/public/site/valunov/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../wa-data/public/site/valunov/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../wa-data/public/site/valunov/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-menu-hamburger {
  cursor: pointer;
}
/*
.glyphicon-envelope:before {
  content: "\2709";
}
*/
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th-list:before {
  content: "\e012";
}
