.item__big-img-container{
	width: 399px;
}
.item__small-img-container {
	margin: 6px 12px 0 0;
}
.item__info-container {
	padding-left: 25px;
	width: 40%;
}
.item__info-container_sub {
	padding: 5px 10px;
}
.item__info-container_marging {
	margin: 0;
}
.item__info-container_price {
	padding-top: 25px;
	padding-bottom: 25px;
}
.item__info-container_custom {
	border: 0px solid #e0e0e0;
	padding: 10px;
	margin: 10px 0 20px 0;
	background-color: #f1f8e9;
}
.item__textures {
	padding-top: 50px;
}
.item__reviews-font {
	font-size: 1.3em;
}
.item__reviews {
	align-items: center;
}
.item__reviews-body {
	margin: 25px 0 25px 0;
}
.item__reviews-box {
	width: 5px;
	background-color: #e0e0e0;
}
.item__reviews-text {
	padding: 0 0 0 25px;
	width: 40%;
}
.item__strength-info {
	padding: 0 0 10px 0;
}